/* General reset and adjustments */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;


}

/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.nav-logo {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Hide the checkbox */
.nav-toggle {
    display: none;
}

/* Toggle button for mobile */
.nav-toggle-label {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Make the navbar responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        display: none;
    }

    .nav-toggle:checked + .nav-toggle-label + .nav-links {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
    }
}

/* Header styles */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;

}

header img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;

}
p, h2, h3{
    text-align: center;
}
